
body{
  font-family: 'Source Sans Pro', sans-serif;
}
.header{
  text-align:center;
  width:600px;
  margin: 0 auto;
  color:#333;
  border-bottom:.75px solid #EF476F;
  margin-bottom:20px;
}
.question-odd .hidden{
  color:#fff;
}
.hidden {
  font-size: .3em;
  color: #F8FFE5;
  display: none;
}

a{
  color:#fff;
  text-decoration:none;
  font-size:4em;
}
a:hover{
  color:#FFC43D;
}
.question-container{
    display: flex;
    flex-wrap:wrap;
    width:1000px;
    margin:0 auto;
}

.question {
  width:45%;
  margin:5px;
  height: 200px;
  padding-right:15px;
  text-align: right;
  background-color: #06D6A0;

}
.question-odd {
  width:45%;
  margin:5px;
  height: 200px;
  padding-right:15px;
  text-align: right;
  background-color: #1B9AAA;
}

.question p{
  font-size:1em;
  color:#F8FFE5;
  padding:10px;
}

.question-odd p{
  font-size:1em;
  padding:10px;
}
.link {
  stroke: #333;
  stroke-width:2px;

}

/* D3 */
.node {
  stroke: #F8FFE5;
  stroke-width: 1.5px;
}

circle{
  stroke:#fff;
  stroke-width:2.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

